#root {
  width: 100%;
  max-width: 1440px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 20%); /* softer on the eyes */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Animated logo from header */
.logo {
  animation: logo-spin infinite 20s linear;
  height: 0.8em;
  margin: 0 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
