#openlayers-content {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#openlayers-container {
  width: 100vw;
  max-width: 700px;
  aspect-ratio: 1.7; /* aspect ratio of data bbox */
  margin: 1em;
}
