/* Styling für den Maßstabsbalken (schwarz-weiß) */
.ol-scale-line {
  position: absolute;
  bottom: 30px;
  left: 10px;
  max-width: 60px; /* Von 100px auf 60px geändert */
  background: white;
  padding: 2px;
  border-radius: 2px;
  border: none;
  z-index: 1500;
  overflow: visible; /* Wichtig: auf 'visible' ändern, damit Text sichtbar ist */
  font-size: 10px; /* Von 8px auf 10px vergrößert */
}

/* Der wichtige Teil für den schwarz-weißen Balken */
.ol-scale-line-inner {
  border: none;
  color: #000;
  margin: 0;
  padding: 2px 0 0 0; /* Abstand oben für den Text */
  background-image: linear-gradient(
    to right,
    #000 20%,
    #fff 20%,
    #fff 40%,
    #000 40%,
    #000 60%,
    #fff 60%,
    #fff 80%,
    #000 80%
  );
  background-repeat: repeat-x;
  background-size: 100% 100%;
  height: 6px; /* Von 5px auf 6px erhöht */
  line-height: 1.5em;
  max-width: 60px; /* Von 30px auf 60px vergrößert */
  width: auto; /* Lasse die Breite automatisch bestimmen */
} /* Anpassung der Position für kleine Bildschirme */
@media (max-width: 768px) {
  .ol-scale-line {
    bottom: 45px; /* Auch hier nach unten angepasst */
  }
} /* Anpassung der Position für kleine Bildschirme */
@media (max-width: 768px) {
  .ol-scale-line {
    bottom: 30px;
  }
}

#map {
  width: 100%;
  height: 83vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: grab;
  overflow: hidden;
  position: relative;
}

/* Anpassung für Handybildschirme */
@media (max-width: 768px) {
  #map {
    height: 80vh; /* Reduzierte Höhe für kleinere Bildschirme */
  }
}
.basemap-logo {
  position: absolute;
  top: -28px; /* Abstand vom oberen Rand */
  left: -10px; /* Abstand vom rechten Rand */
  width: 50px; /* Breite des Logos */
  height: auto; /* Automatische Höhe basierend auf der Breite */
  z-index: 1000; /* Sicherstellen, dass das Logo über der Karte liegt */
  mix-blend-mode: multiply;

  cursor: pointer; /* Zeigt an, dass das Logo klickbar ist */
  transition: transform 0.3s ease; /* Animation bei Hover */
}

.basemap-logo-wand {
  position: absolute;
  top: 60px; /* Abstand vom oberen Rand, unterhalb des ersten Logos */
  left: 0px; /* Gleicher Abstand vom rechten Rand wie das erste Logo */
  width: 50px; /* Breite des Logos */
  height: auto; /* Automatische Höhe basierend auf der Breite */
  z-index: 1000; /* Sicherstellen, dass das Logo über der Karte liegt */
  cursor: pointer; /* Zeigt an, dass das Logo klickbar ist */
  transition: transform 0.3s ease; /* Animation bei Hover */
  mix-blend-mode: multiply;
  clip-path: inset(0 0 0 5);
}

.layer-menu img {
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.layer-menu img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-zoom {
  position: absolute !important;
  bottom: 80px;
  left: 10px;
  z-index: 1000;
}

/* Styling for the popup */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 120px;
  z-index: 1000;
  text-align: left; /* Text linksbündig ausrichten */
  font-size: 10px; /* Textgröße anpassen */
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

/* Styling for the popup closer button */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 10px;
  color: #333;
  cursor: pointer;
}

.ol-popup-closer:after {
  content: "✖";
}

/* Styling für Icons */
.icon-container {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.layer-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.layer-images img {
  width: 30%;
  margin-right: 5px;
}
.layer-images img:last-child {
  margin-right: 0;
}

.icon-container:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Layer-Switch-Button */
.layer-switch-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.layer-menu {
  position: absolute;
  bottom: 80px;
  right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.layer-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.layer-menu button.active {
  font-weight: bold;
  background: #ffffff;
}

.weather-section {
  text-align: center;
  margin-top: 10px;
}

.weather-icon {
  font-size: 24px;
}

/* Suchcontainer */
.search-container {
  position: absolute;
  bottom: 10px; /* Gleiche Höhe wie der Maßstab */
  left: 150px; /* Abstand vom linken Rand, um Platz für den Maßstab zu schaffen */
  z-index: 1000;
  display: flex;
  flex-direction: row; /* Elemente nebeneinander anordnen */
  gap: 10px; /* Abstand zwischen den Elementen */
}
/* Suchfeld */
.search-field {
  background-color: white;
  position: absolute;
  bottom: -100px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.search-field:hover {
  transform: scale(1.05);
  opacity: 1.05;
}

/* Suchergebnisse */
.search-results {
  background-color: white;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Standort-Zoom-Button */
.zoom-button {
  position: absolute;
  bottom: -100px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  transition: transform 0.3s ease, opacity 1s ease;
}

.zoom-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Filter-Button */
.filter-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.filter-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Info-Button */
.info-button {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.info-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

.erfassen-button {
  position: absolute;
  top: 190px;
  right: 13px;
  z-index: 1000;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.erfassen-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Layer-Wechsel-Button */
.layer-button {
  position: absolute;
  top: 130px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.layer-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

.double_range_slider_box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.double_range_slider {
  width: 90%; /* Volle Breite */
  height: 10px;
  position: relative;
  background-color: #dddddd;
  border-radius: 20px;
  margin: 0; /* Kein zusätzlicher Rand */
}

.range_track {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #95d564;
  left: 0; /* Entferne den Offset */
  right: 0; /* Entferne den Offset */
}

.range_input {
  position: absolute;
  width: 100%; /* Volle Breite */
  height: 10px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  left: 0; /* Entferne den Offset */
}

.range_input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0e5f59;
  pointer-events: auto;
  -webkit-appearance: none;
  position: relative;
  top: -4px;
}

.minvalue,
.maxvalue {
  position: absolute;
  padding: 3px 10px;
  background: #0e5f59;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  bottom: -35px; /* Position unter dem Slider */
  transform: translateX(-50%); /* Zentriert unter dem Thumb */
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  white-space: nowrap; /* Verhindert Zeilenumbruch */
}

.minvalue {
  left: 0%; /* Startposition für min value */
}

.maxvalue {
  left: 100%; /* Startposition für max value */
}
