#map {
  width: 100%;
  height: 83vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: grab;
  overflow: hidden;
  position: relative;
}

/* Anpassung für Handybildschirme */
@media (max-width: 768px) {
  #map {
    height: 80vh; /* Reduzierte Höhe für kleinere Bildschirme */
  }
}

.basemap-logo {
  position: absolute;
  top: -28px; /* Abstand vom oberen Rand */
  left: -10px; /* Abstand vom rechten Rand */
  width: 50px; /* Breite des Logos */
  height: auto; /* Automatische Höhe basierend auf der Breite */
  z-index: 1000; /* Sicherstellen, dass das Logo über der Karte liegt */
  cursor: pointer; /* Zeigt an, dass das Logo klickbar ist */
  transition: transform 0.3s ease; /* Animation bei Hover */
  transform: scaleX(-1); /* Logo umkehren */
}

.basemap-logo-wand {
  position: absolute;
  top: 60px; /* Abstand vom oberen Rand, unterhalb des ersten Logos */
  left: 0px; /* Gleicher Abstand vom rechten Rand wie das erste Logo */
  width: 50px; /* Breite des Logos */
  height: auto; /* Automatische Höhe basierend auf der Breite */
  z-index: 1000; /* Sicherstellen, dass das Logo über der Karte liegt */
  cursor: pointer; /* Zeigt an, dass das Logo klickbar ist */
  transition: transform 0.3s ease; /* Animation bei Hover */
  mix-blend-mode: multiply;
  clip-path: inset(0 0 0 5);
}

.layer-menu img {
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.layer-menu img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-zoom {
  position: absolute !important;
  bottom: 80px;
  left: 10px;
  z-index: 1000;
}

/* Styling for the popup */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 120px;
  z-index: 1000;
  text-align: left; /* Text linksbündig ausrichten */
  font-size: 10px; /* Textgröße anpassen */
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

/* Styling for the popup closer button */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 10px;
  color: #333;
  cursor: pointer;
}

.ol-popup-closer:after {
  content: "✖";
}

/* Styling für Icons */
.icon-container {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.icon-container:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Layer-Switch-Button */
.layer-switch-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.layer-menu {
  position: absolute;
  bottom: 80px;
  right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.layer-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.layer-menu button.active {
  font-weight: bold;
  background: #ddd;
}

.weather-section {
  text-align: center;
  margin-top: 10px;
}

.weather-icon {
  font-size: 24px;
}

/* Suchcontainer */
.search-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

/* Suchfeld */
.search-field {
  background-color: white;
  position: absolute;
  bottom: -100px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.search-field:hover {
  transform: scale(1.05);
  opacity: 1.05;
}

/* Suchergebnisse */
.search-results {
  background-color: white;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Standort-Zoom-Button */
.zoom-button {
  position: absolute;
  bottom: -100px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  transition: transform 0.3s ease, opacity 1s ease;
}

.zoom-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Filter-Button */
.filter-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.filter-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Info-Button */
.info-button {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.info-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

.erfassen-button {
  position: absolute;
  top: 190px;
  right: 13px;
  z-index: 1000;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.erfassen-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}

/* Layer-Wechsel-Button */
.layer-button {
  position: absolute;
  top: 130px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, opacity 1s ease;
}

.layer-button:hover {
  transform: scale(1.1);
  opacity: 1.1;
}
