#spatialanalysis-content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-flow: column wrap;
  label > input {
    margin: 0 1em;
    width: 5em;
  }
}

#spatialanalysis-map-container {
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1.7; /* aspect ratio of data bbox */
}
