#geotiff-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  label > input {
    margin: 0 1em;
    width: 10em;
  }
}

#geotiff-map-container {
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1.7;
}
